@use "./base.scss";



.page {
  max-width: unset;
}

@media (max-width: 800px) {
  .page-title {
    font-size: 1.3rem;
  }
}




@media not (min-width: 1200px) {
  .page > #quartz-body {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .page > #quartz-body .sidebar.left:has(.explorer){
    padding: 0.5rem;
    background-color: var(--lightgray);
    box-shadow: 0px 0px 4px #0004;
  }
}


@media not (min-width: 800px) {
  .page > #quartz-body .sidebar.left:has(.explorer) .explorer-content {
    padding-left: 2rem !important;
  }
}

.page > #quartz-body .sidebar.left:has(.explorer) .search {
    background-color: var(--fadedgray) !important;
}




.page > #quartz-body .sidebar {
  gap: 1rem;
}

.page > #quartz-body .sidebar.left {
  padding: 1rem 0rem 1rem 2rem;
}

.page > #quartz-body .sidebar.right {
  padding: 1rem 2rem 1rem 0rem;
}

button.search-button {
  background-color: transparent !important;
}

.search {
  border-radius: 4px;
}

.sidebar.left .search {
  background-color: var(--fadedgray);
}

.sidebar.right .search {
  background-color: var(--lightgray);
}



@media (min-width: 800px) {
.sidebar.left {
  background-color: var(--lightgray);
  box-shadow: 0px 0px 4px 0px #0006;
}
}





.right.sidebar .toc {
  padding: 20px;
  
  border: 1px solid var(--fadedgray);
  border-radius: 4px;
}



.sidebar.left>.page-title {
    text-align: center;
    margin-right: 2rem;
}

@media (min-width: 1200px) {
.right.sidebar .flex-component
{
  margin-bottom: 2rem;
}
}

@media (min-width: 800px) {
.page > #quartz-body .center,
.page > #quartz-body footer {
  padding: 0 60px;
  min-width: min(calc(100% - 120px), 900px);
  max-width: min(calc(100% - 120px), 900px);
  margin-left: auto;
}
}

@media not (min-width: 800px) {
.page > #quartz-body .center,
.page > #quartz-body footer {
  padding: 0 30px;
  min-width: min(calc(100% - 60px), 900px);
  max-width: min(calc(100% - 60px), 900px);
  margin-left: auto;
  }
}



.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.page-footer > .backlinks,
.page-footer > .graph {
  width: 50%;
}

@media (max-width: 1500px) {
  .page-footer > .backlinks,
  .page-footer > .graph {
    width: 100%;
  }
}

.right.sidebar .flex-component {
    display: flex;
  }
  .left.sidebar .flex-component {
    display: none;
}

@media not (min-width: 1200px) {
  .page > #quartz-body .right.sidebar > .flex-component {
    display: none;
  }
  .page > #quartz-body .left.sidebar .flex-component {
    display: flex;
  }
}


a {
  font-weight: normal;
}

:root[reader-mode=on] .backlinks,
:root[reader-mode=on] .graph {
  opacity: 0;
  transition: opacity .2s;
}

.content-meta {
  color: var(--gray);
}


.folder-icon {
  margin-left: 5px;
}


.page > #quartz-body .page-header {
  margin-bottom: 2rem;
}

.tag-link {
  font-size: 0.9rem;
  padding: 0.1rem 0.4rem;
}

hr {
  background-color: var(--fadedgray);
}

.graph > .graph-outer {
  border-color: var(--fadedgray);
}


.content-meta {
  margin-bottom: 0.5rem;
}

ul.tags {
  margin-top: 0.5rem;
}

@media (min-width: 800px) {
div.explorer {
  border-top: 1px solid var(--fadedgray)
}
}

.page-listing li.section-li > .section {
  grid-template-columns: 3fr 1fr;
}

@media (max-width: 800px) {
  .page-listing li.section-li > .section {
  grid-template-columns: auto;
  }
}

.popover .section {
  grid-template-columns: auto !important;
}

.page-listing li.section-li > .section > .meta {
  display: none;
}




  


@media not (max-width: 800px) {
.left.sidebar .flex-component {
  margin-right: 2rem;
}
}


@media (max-width: 800px) {
  .explorer,
  .explorer .folder-container div>a {
    font-size: 1.1rem;
  }
}




* {
  scrollbar-color: transparent transparent;
  
  
}


*:hover {
  scrollbar-color: var(--fadedgray) transparent;
}

.popover, .popover:hover, .active-popover {
  animation: none;
  opacity: 1;
  transition: visibility;
  transition-delay: 0.5s;
}

.popover:hover, .active-popover {
  visibility: visible;
}



details.more > summary {
  display: block;
  color: var(--gray);
}

details.more > summary::-webkit-details-marker { 
  display: none 
}

details.more[open] > summary {
  display: none;
}



a.internal {
    background-color: transparent;
}


ul.pagination-block {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul.pagination-block li{
  display: block;
  margin: 0 5px;
}

ul.pagination-block li > *{
  white-space: nowrap;
}



.explorer-content {
  overflow-y: scroll !important;
}

.explorer-ul {
  overflow-y: hidden !important;
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

.explorer, .explorer-content {
  height: 100%;
}