@use "./base.scss";

.page {
  max-width: unset;
}

@media not (min-width: 1200px) {
  .page > #quartz-body {
    padding: 0;
  }
}

.page > #quartz-body .sidebar {
  padding: 2rem 2rem 2rem;
}

.sidebar .search {
  background-color: var(--gray);
}

.sidebar.right .search {
  background-color: var(--lightgray);
}

@media (min-width: 1200px) {
.left.sidebar .page-title,
.right.sidebar .flex-component
{
  margin-bottom: 2rem;
}
}

.page > #quartz-body .center,
.page > #quartz-body footer {
  padding: 0 60px;
  min-width: min(calc(100% - 120px), 900px);
  max-width: min(calc(100% - 120px), 900px);
  margin-left: auto;
}



.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.page-footer > .backlinks,
.page-footer > .graph {
  width: 50%;
}

@media (max-width: 1500px) {
  .page-footer > .backlinks,
  .page-footer > .graph {
    width: 100%;
  }
}

.rigth.sidebar .flex-component {
    display: flex;
  }
  .left.sidebar .flex-component {
    display: none;
}

@media (max-width: 1200px) {
  .rigth.sidebar .flex-component {
    display: none;
  }
  .left.sidebar .flex-component {
    display: flex;
  }
}

