@use "./base.scss";

.page {
  max-width: unset;
}

.page > #quartz-body .sidebar {
  background-color: var(--lightgray);
}

.page > #quartz-body .center,
.page > #quartz-body footer {
  padding: 0 60px;
  min-width: calc(100% - 120px);
  max-width: calc(100% - 120px);
}

